body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #120904;
  color: #fff5e1;
  font-family: "Roboto", sans-serif;
}
.app-container {
  height: 90%;
  background-image: url("../img/pizza-background.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 90vh;
}
.home-image-container {
  background-color: #120904;
}
i {
  cursor: pointer;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
.alert {
  margin: 5px 0;
}
.alert-danger {
  color: #6f0b17;
}
.like-btn {
  z-index: 1000;
  all: unset;
}
.like-btn .fa-heart {
  color: #cf142b;
  font-size: 1.25rem;
}
.like-btn:focus {
  outline: #6f0b17 auto 5px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-evenly {
  display: flex;
  justify-content: space-evenly;
}
.self-center {
  align-self: center;
}
.flex-main-el {
  flex: 1;
}
.no-style {
  list-style: none;
}
.h-100 {
  height: 100%;
}
.h-75 {
  height: 75%;
}
.h-50 {
  height: 50%;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.m-0 {
  margin: 0;
}
.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.p-0 {
  padding: 0;
}
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.b-10 {
  border-radius: 10px;
}
.b-20 {
  border-radius: 20px;
}
.hidden-overflow {
  overflow: hidden;
}
nav {
  height: 10%;
  background-color: #6f0b17;
  text-transform: uppercase;
}
nav > .togglemenu {
  position: absolute;
  right: 0;
  width: 50px;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav > .togglemenu > #close-button {
  display: none;
}
nav > .togglemenu > #open-button {
  display: none;
}
nav > .img-container {
  width: 200px;
  background-color: gray;
}
nav > .auth-container {
  width: 15%;
  order: 3;
}
nav > .nav-container {
  height: 100%;
}
nav > .nav-container > li {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
nav > .nav-container > li a,
nav > .nav-container > li .logout-btn,
nav > .nav-container > li form {
  color: #fff5e1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav > .nav-container > li form,
nav > .nav-container > li .logout-btn {
  cursor: pointer;
}
nav > .nav-container > li > a:hover,
nav > .nav-container > li .logout-btn:hover,
nav > .nav-container > li form:hover {
  background-color: #9d1021;
}
@media screen and (width <= 768px) {
  nav {
    flex-direction: column;
    height: 10%;
    min-height: 65px;
    position: sticky;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  nav > .img-container {
    width: 200px;
    height: 100%;
    align-self: center;
    align-items: center;
    order: 2;
  }
  nav > .togglemenu > #open-button {
    display: flex;
  }
  nav > .auth-container {
    position: absolute;
    order: 1;
    left: 0px;
    top: 0px;
    align-self: start;
    height: 90%;
  }
  nav > .nav-container {
    display: none;
    width: 100%;
    height: 90%;
    flex-direction: column;
    order: 3;
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    z-index: 9999;
    justify-content: space-around;
    background-color: #6f0b17;
  }
  nav > .nav-container > li {
    height: 40px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  ul.navbar-show {
    display: flex;
    opacity: 0;
    animation: opacity 1s ease-in-out forwards;
  }
  ul.navbar-hide {
    opacity: 1;
    animation: aaa 1s ease-in-out forwards;
  }
}
.logout-btn {
  all: unset;
}
@keyframes aaa {
  0% {
    opacity: 1;
    display: flex;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.about-us-wrapper {
  background-image: url("../img/pizza-background.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 90vh;
}
.about-us-wrapper > * {
  z-index: 2;
}
.about-us-wrapper .about-us-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #fff5e1;
}
.about-us-wrapper .about-us-container .text-container {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.about-us-wrapper .about-us-container .image-container {
  width: 300px;
  height: 300px;
}
.about-us-wrapper .about-us-container .image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.about-us-wrapper .timetables {
  width: 70%;
}
.about-us-wrapper .timetables div {
  width: 100%;
}
.about-us-wrapper .timetables div li {
  padding: 10px 0px;
  font-size: 18px;
}
@media (max-width: 768px) {
  .about-us-wrapper .about-us-container {
    flex-direction: column;
    padding: 20px;
    font-size: 10px;
  }
  .about-us-wrapper .about-us-container .text-container {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }
  .about-us-wrapper .about-us-container .image-container {
    width: 200px;
    height: 200px;
  }
  .about-us-wrapper .timetables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .about-us-wrapper .timetables div {
    width: 100%;
    border: none;
  }
  .about-us-wrapper .timetables div li {
    font-size: 14px;
  }
}
.menu-wrapper {
  background-color: #120904;
}
.menu-wrapper .menu-items-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 20px;
  list-style: none;
  padding: 20px;
  color: #120904;
}
.menu-wrapper .menu-items-container .card {
  background-color: #fff5e1;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 0.9rem 0 rgba(18, 9, 4, 0.9);
  transition: 0.3s all;
}
.menu-wrapper .menu-items-container .card-header {
  margin: 0.75rem 0;
  display: flex;
  align-items: center;
}
.menu-wrapper .menu-items-container .card-header .delete-btn {
  z-index: 1000;
  background-color: #6f0b17;
  height: 40%;
  color: #fff5e1;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s all;
}
.menu-wrapper .menu-items-container .card-header .delete-btn:hover {
  background-color: #cf142b;
}
.menu-wrapper .menu-items-container .card-header,
.menu-wrapper .menu-items-container .card-body {
  padding: 0 1.25rem;
}
.menu-wrapper .menu-items-container hr {
  width: 80%;
}
.menu-wrapper .menu-items-container .card-body {
  margin: 0.75rem 0;
}
.menu-wrapper .menu-items-container .card-content {
  margin: 0.75rem 0;
}
.menu-wrapper .menu-items-container .card-content .details-link {
  color: #007a3b;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.menu-wrapper .menu-items-container .card-content .details-link:hover {
  color: #00e06c;
}
.menu-wrapper .menu-items-container .card-content p {
  font-size: 1rem;
  font-weight: 400;
  color: #120904;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-wrapper .menu-items-container .card-content .price {
  font-size: 1.25rem;
  font-weight: 700;
  color: #007a3b;
}
.menu-wrapper .menu-items-container .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.25rem;
}
.menu-wrapper .menu-items-container .card-chip {
  padding: 0.25rem;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #007a3b;
  color: #fff5e1;
  border-radius: 0.5rem;
}
.menu-wrapper .menu-items-container .card-image img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  max-width: 100%;
  height: 300px;
  object-fit: cover;
}
.menu-wrapper .category-selector {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  flex-wrap: wrap;
}
.menu-wrapper .category-selector .category-link {
  padding: 4px;
  border-radius: 0.5rem;
  background-color: #208320;
  outline: none;
  border: none;
  box-shadow: 0 0 0.5rem 0 rgba(18, 9, 4, 0.9);
  cursor: pointer;
}
.menu-wrapper .category-selector .category-link[data-is-selected="true"] {
  background-color: #007a3b;
}
.menu-wrapper .category-selector .category-btn:hover {
  background-color: #007a3b;
}
@media (min-width: 500px) {
  .menu-wrapper .menu-items-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 900px) {
  .menu-wrapper .menu-items-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }
}
.dish-details-container {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
}
.dish-details-container .detail-header {
  gap: 30px;
  text-shadow: 2px 2px 2px black;
  box-shadow: inset 0px -600px rgba(0, 0, 0, 0.5);
}
.dish-details-container .detail-header h1 {
  padding: 10px 0px;
  max-width: 50%;
}
.dish-details-container .detail-header .card-chip {
  height: unset;
  padding: 0.25rem;
  background-color: #007a3b;
  color: #fff5e1;
  border-radius: 0.5rem;
}
.dish-details-container .detail-body {
  height: 90%;
}
.dish-details-container .detail-body .description {
  max-width: 70%;
  height: fit-content;
  max-height: 80%;
  overflow: auto;
  text-align: center;
  color: black;
  background-color: rgba(255, 245, 225, 0.8);
  border-radius: 10px;
  padding-bottom: 30px;
}
.dish-details-container .detail-body .price {
  position: relative;
  top: -25px;
  border-radius: 50%;
  padding: 5px;
  background-color: #007a3b;
  width: 60px;
  height: 60px;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 4px 8px #0000001a;
  color: #120904;
}
.form-container h1 {
  text-align: center;
}
.form-container .form-body {
  width: max(40vw, 300px);
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  backdrop-filter: blur(14px);
  background-color: rgba(255, 245, 225, 0.2);
}
.form-container .form-body label {
  color: #007a3b;
}
.form-container .form-body input,
.form-container .form-body textarea,
.form-container .form-body select {
  background-color: rgba(255, 245, 225, 0.2);
}
.form-container .form-body a {
  color: #cf142b;
}
.form-container .form-body .form-group {
  margin: 0 10px;
  padding: 10px;
}
.form-container .form-body .form-group label {
  cursor: pointer;
  display: block;
  font-weight: 400;
}
.form-container .form-body .form-group input,
.form-container .form-body .form-group textarea,
.form-container .form-body .form-group select {
  max-width: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  transition: all 0.1s ease-in-out;
}
.form-container .form-body .form-group textarea {
  min-height: 10vh;
}
.form-container .form-body .form-group input:focus {
  outline: #208320;
  border: #208320 1px solid;
  box-shadow: 0 0 5px #208320;
}
.form-container .form-body .form-group.form-error label {
  color: #6f0b17;
}
.form-container .form-body .form-group.form-error input,
.form-container .form-body .form-group.form-error textarea,
.form-container .form-body .form-group.form-error select {
  border: 1px #6f0b17 solid;
}
.form-container .form-body .form-group.form-error input:focus {
  border: 1px #6f0b17 solid;
  box-shadow: 0 0 5px #6f0b17;
}
.selection-area {
  color-scheme: dark;
}
.selection-area > * {
  border-radius: 15px;
  border: none;
  background-color: #120904;
  width: 250px;
  height: 40px;
  text-align: center;
}
.selection-area > * ::-webkit-calendar-picker-indicator {
  font-size: 24px;
}
.submit-button {
  background-color: #208320;
  width: 100%;
  display: block;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.submit-button:hover {
  background-color: #007a3b;
}
.login-container {
  background-image: url("/assets/images/pepperoni-pizza.jpg");
  background-size: cover;
  height: 100vh;
}
.back-button {
  color: #cf142b;
  background-color: #120904;
  border: none;
  margin: 20px;
  position: absolute;
  text-transform: uppercase;
  font-size: 14px;
}
.fav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fav-container form {
  align-self: auto;
  gap: 10px;
}
.fav-container form .form-group {
  display: flex;
  align-items: end;
}
.fav-container form .form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}
.fav-container form .fav-form-group {
  flex-direction: column;
  justify-content: end;
  align-items: start;
}
@media (max-width: 768px) {
  .fav-container form {
    flex-direction: column;
  }
}
.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  background-color: #120904;
  text-align: center;
}
.not-found-container .not-found-title {
  font-size: 40px;
}
.not-found-container .not-found-image {
  width: 300px;
  height: 300px;
}
.wrapper {
  gap: 10px;
  background-color: #120904;
}
.wrapper #tables-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: 100%;
  text-align: center;
  gap: 20px;
}
.wrapper #tables-info .selected-tables-info {
  height: 60%;
}
.wrapper #tables-info .selected-tables-info > #selected-tables-list {
  height: 80%;
  overflow: auto;
}
.wrapper #tables-info .selected-tables-info > #selected-tables-list div {
  margin: 5px;
  background-color: #6f4518;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #120904;
}
.wrapper #tables-info #book-btn {
  width: 50%;
  height: 40px;
  background-color: #6f0b17;
  color: #fff5e1;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.wrapper #tables-info #book-btn:hover {
  background-color: #cf142b;
}
.wrapper #booking-facility-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 75%;
}
.wrapper #booking-facility-form .container {
  padding: 20px;
  background-color: #fff5e1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas: "t1-4 t1-4 t2-4 t2-4 t3-4 t3-4" "t4-4 t4-4 t5-4 t5-4 t6-4 t6-4" "t7-2 t8-2 t9-2 t10-2 t11-2 t12-2" "entrance t13-2 t14-2 t15-2 t16-2 t17-2";
  width: 90%;
  height: 70%;
}
.wrapper #booking-facility-form .container > :not(.entrance) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.wrapper #booking-facility-form .container > :not(.entrance)[data-tableIsTaken="false"] {
  background-color: #6f4518;
}
.wrapper #booking-facility-form .container > :not(.entrance)[data-tableIsTaken="false"]:hover {
  background-color: #995f21;
  cursor: pointer;
}
.wrapper #booking-facility-form .container > [data-tableIsTaken="true"] {
  background-color: #cf142b;
  cursor: not-allowed;
}
.wrapper #booking-facility-form .selection-area {
  color-scheme: dark;
}
.wrapper #booking-facility-form .selection-area > select {
  border-radius: 15px;
  border: 1px solid #cf142b;
  background-color: #120904;
  width: 250px;
  height: 40px;
  text-align: center;
}
.wrapper .t1-4 {
  grid-area: t1-4;
}
.wrapper .t2-4 {
  grid-area: t2-4;
}
.wrapper .t3-4 {
  grid-area: t3-4;
}
.wrapper .t4-4 {
  grid-area: t4-4;
}
.wrapper .t5-4 {
  grid-area: t5-4;
}
.wrapper .t6-4 {
  grid-area: t6-4;
}
.wrapper .t7-2 {
  grid-area: t7-2;
}
.wrapper .t8-2 {
  grid-area: t8-2;
}
.wrapper .t9-2 {
  grid-area: t9-2;
}
.wrapper .t10-2 {
  grid-area: t10-2;
}
.wrapper .t11-2 {
  grid-area: t11-2;
}
.wrapper .t12-2 {
  grid-area: t12-2;
}
.wrapper .t13-2 {
  grid-area: t13-2;
}
.wrapper .t14-2 {
  grid-area: t14-2;
}
.wrapper .t17-2 {
  grid-area: t17-2;
}
.wrapper .entrance {
  grid-area: entrance;
}
.wrapper .t16-2 {
  grid-area: t16-2;
}
.wrapper .t15-2 {
  grid-area: t15-2;
}
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    min-height: 150vh;
  }
  .wrapper #tables-info {
    width: 100%;
    height: 50%;
  }
  .wrapper #tables-info .selected-tables-info {
    height: 80%;
  }
  .wrapper #tables-info #book-btn {
    width: 25%;
  }
  .wrapper #booking-facility-form {
    width: 100%;
    height: 100%;
  }
  .wrapper #booking-facility-form .selection-area {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  .wrapper #booking-facility-form .selection-area > * {
    width: 50%;
  }
  .wrapper #booking-facility-form .container {
    overflow: auto;
    max-width: 200%;
  }
  .wrapper #booking-facility-form .container > :not(.entrance) {
    min-width: 120px;
    min-height: 80px;
  }
}
