.login-container {
  background-image: url("/assets/images/pepperoni-pizza.jpg");
  background-size: cover;
  height: 100vh;
}

.back-button {
  color: @__red_light;
  background-color: @__black;
  border: none;
  margin: 20px;
  position: absolute;
  text-transform: uppercase;
  font-size: 14px;
}

.fav-container {
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    align-self: auto;
    gap: 10px;

    .form-group {
      display: flex;
      align-items: end;
      input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
      }
    }
    .fav-form-group {
      flex-direction: column;
      justify-content: end;
      align-items: start;
    }
  }

  @media (max-width: 768px) {
    form {
      flex-direction: column;
    }
  }
}
