nav {
  height: 10%;
  background-color: #881515;
  color: lightblue;
  text-transform: uppercase;

  > .img-container {
    width: 15%;
    background-color: gray;
  }

  > .auth-container {
    width: 15%;
  }

  > ul {
    > li {
      text-align: center;
    }
  }
}
