{% extends "layout.html.twig" %}

{% block title %}PIZZERIA MAMMAMIA | Not Found
{% endblock %}

{% block content %}
	
<section class="not-found-container">
    <h1 class="not-found-title"> MAMMAMIA!</h1>
    <div>Sorry, the page you are looking for does not exist.</div>
    <img class="not-found-image" alt="sad-pizza" src="../assets/img/404-image.jpg"></img>
</section>


{% endblock %}
