{% extends 'menu.html.twig' %}
{% block additional_headings %}
	<div class="center">
		<form method="POST" action="/favorites">
			<div class="form-group">
				<input type="email" name="email" placeholder="Enter your friend's email address">
				<button class="submit-button">Send Email</button>
			</div>
		</form>
	</div>
{% endblock %}
{% block additional_scripts %}
	<script src="assets/scripts/favorites.js"></script>
{% endblock %}
