{% extends "layout.html.twig" %}

{% block content %}
	<div class="center w-100">
		{# <img class="landing-image image-full" src="../assets/img/landing-page-image.webp" alt="Pizza chef preparing a pizza" 
		srcset="elva-fairy-480w.jpg 480w, elva-fairy-800w.jpg 800w" 
			sizes="(max-width: 600px) 480px,"></img> #}
</div>{% endblock %}
