{% extends "layout.html.twig" %}

{% block content %}
	<div class="center h-100 hidden-overflow image-container">
		<img class="h-100" src="../assets/img/landing-page-image.webp" alt="Pizza chef preparing a pizza">
	</img>
</div>
{% endblock %}
