{% extends "layout.html.twig" %}

{% block content %}
	<div class="center w-100" style="height: 90%; overflow: hidden; ">
		<img class="landing-image image-full h-100 w-100" src="../assets/img/landing-page-image.webp" alt="Pizza chef preparing a pizza">
	</img>
</div>{% endblock %}
