<nav>
  <div class="img-container">
    <img src="" alt="website_logo" />
  </div>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About us</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Book a table</a></li>
    <li><a href="#">Menu</a></li>
  </ul>
  <div class="auth-container">
    <img src="" alt="login_img" />
    <small>login</small>
  </div>
</nav>
