<nav class="center">
	<div class="img-container h-100 center">
		<img src="" alt="website_logo"/>
	</div>
	<ul class="flex-evenly flex-main-el no-style m-0 p-0 h-100">
		<li>
			<a href="index.php">Home</a>
		</li>
		<li>
			<a href="about-us.php">About us</a>
		</li>
		<li>
			<a href="#">Contact</a>
		</li>
		<li>
			<a href="booking-facility.php">Book a table</a>
		</li>
		<li>
			<a href="menu.php">Menu</a>
		</li>
		<li class="auth-container">
			<a href="login.php">Login</a>
		</li>
	</ul>
</nav>
