<nav class="center">
	<div class="img-container h-100 center">
		<img src="" alt="website_logo"/>
	</div>
	<ul class="flex-evenly flex-main-el no-style m-0">
		<li>
			<a href="#">Home</a>
		</li>
		<li>
			<a href="#">About us</a>
		</li>
		<li>
			<a href="#">Contact</a>
		</li>
		<li>
			<a href="#">Book a table</a>
		</li>
		<li>
			<a href="#">Menu</a>
		</li>
	</ul>
	<div class="auth-container center flex-column h-100">
		<img src="" alt="login_img"/>
		<small>login</small>
	</div>
</nav>
