<nav class="center">
	<div class="img-container h-100 center">
		<img src="" alt="website_logo"/>
	</div>
	<div class="togglemenu">
		<i class="fas fa-bars" title="open-menu" id="open-button"></i>
		<i class="fas fa-times" title="close-menu" id="close-button"></i>
	</div>
	<ul id="nav-container" class="nav-container flex-evenly flex-main-el no-style m-0 p-0">
		<li>
			<a href="index.php">Home</a>
		</li>
		<li>
			<a href="about-us.php">About us</a>
		</li>
		<li>
			<a href="#">Contact</a>
		</li>
		<li>
			<a href="booking-facility.php">Book a table</a>
		</li>
		<li>
			<a href="menu.php">Menu</a>
		</li>
		{% if logged %}
			<li>
				<form method="post" action="logout.php">
					<button class="logout-btn" type="submit" name="logout">Logout</button>
				</form>
			</li>
		{% else %}
			<li class="auth-container">
				<a href="login.php">Login</a>
			</li>
		{% endif %}
	</ul>
</nav>
{% block javascripts %}
	<script src="assets/scripts/navbar.js"></script>
{% endblock %}
