<nav class="center">
	<div class="img-container h-100 center">
		<img src="" alt="website_logo"/>
	</div>
	<div class="auth-container center flex-column h-100">
		<img src="" alt="login_img"/>
		<small>login</small>
	</div>
	<ul class="flex-evenly flex-main-el no-style m-0 p-0 h-100">
		<li>
			<a href="index.php">Home</a>
		</li>
		<li>
			<a href="about-us.php">About us</a>
		</li>
		<li>
			<a href="#">Contact</a>
		</li>
		<li>
			<a href="#">Book a table</a>
		</li>
		<li>
			<a href="/menu.php">Menu</a>
		</li>
	</ul>
</nav>
